/*Elebase 4.3.75, Build 4375
April 20th 2018
For evaluation purposes only*/

/*Font*/
@font-face {
    font-family: "Strawberry Pink Child";
    src: url(../fonts/StrawberryPinkChild.ttf) format('truetype');
    src: url(../fonts/StrawberryPinkChild.eot) format('embedded opentype');
    src: url(../fonts/StrawberryPinkChild.woff) format('woff');
    src: url(../fonts/StrawberryPinkChild.woff2) format('woff2');
}

/*Body styling*/

html {
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

/*Font and formatting properties*/

h1, h2, h3 {
    font-family: Strawberry Pink Child, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px;
    line-height: 60px;
}

h2 {
    font-size: 40px;
}

c1 { /*figure caption, to be used inside <figcaption> tags*/
    font-family: Strawberry Pink Child, Arial, Helvetica, sans-serif; 
    font-size: 25px;
}

t1 { /*not used at the moment*/
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

f1 { /*footer styling*/
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

p1 { /*default paragraph*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

fi1 { /*hero image call-to-action*/
    font-family: Strawberry Pink Child, Arial, Helvetica, sans-serif;
    font-size: 35px;
    color: white;
}

/*Element styling*/

.img-full {
    width: 100%;
}

#container { /*container that holds all elements of the website*/
    width: 100%;
    overflow-x: hidden;
}

#header { /*header area which contains buttons (desktop only) and logo*/
    position: fixed;
    width: 100%;
    height: 15%;
    background-color: white;
    opacity: 0.97;
    z-index: 4;
    animation-delay: 2s;
    animation: header-entrance 1.5s;
}

#logo { /*logo styling*/
    padding: 1% 1% 1% 1%;
    position: relative;
    height: 85%;
    width: auto;
}

.menu { /*class to hold the menu buttons on the desktop website*/
    top: 0;
    margin-top: 2.5%;
    margin-right: 2.5%;
    float: right;
}

.button, .slideshow-button { /*default button class styling*/
    background-color: #aed2a7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
}

button:focus, slideshow-button:focus { /*remove outline from buttons in certain browsers (Google Chrome)*/
    outline: 0;
}

.button.rollover { /*styles for button hover - added as a class in 'animations.js'*/
    background-color: #fbc477;
    transition: .3s;
    font-size: 18px;
}

.menu-button { /*styling for the buttons in the menu (desktop only)*/
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 160px;
    border: none;
    outline: none;
}

menu-button:focus { /*remove outline from buttons in certain browsers (Google Chrome)*/
    outline: 0;
}

.menu-button:hover { /*styles for menu button hover (desktop only)*/
    background-color: #fbc477;
    transition: .3s;
    font-size: 18px;
}

.current { /*class added to the button to signify that it is the button for the current page*/
    background-color: #fbc477;
}

#hero { /*styling for the feature image on each page (image directly underneath the header)*/
    width: 100%;
    height: 30%;
    z-index: 1;
    animation: featureimage-entrance 1s;
}

#hero-cta { /*div containing the 'Click on the animals' text in the feature image*/
    position: absolute;
    visibility: hidden; /*visibility is activated in entrance animation*/
    text-align: center;
    top: 0;
    margin-top: 13%;
    width: 100%;
    height: 100%;
    animation: cta-entrance 20s forwards;
    animation-delay: 2s;
}

#clouds, #trees {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#clouds {
    transform: scale(0.3,0.3);
}

#trees {
    left: 0;
    margin-top: 5%;
    transform: scale(0,0);
}

#clouds.clouds-play {
    animation: clouds 45s infinite;
}

#trees.trees-zoom {
    animation: zoom 1s forwards;
    animation-delay: 1s;
}

#monkey, #lion, #giraffe { /*styling for the characters on the home page*/
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    /*height: 1px;
    width: 1px;*/
    animation: zoom 1s linear forwards;
}

#monkey {
    margin-top: 28%;
    margin-left: 33%;
}

#monkey.monkey-play {
    animation: monkey 6s forwards;
}

    #monkey.monkey-run {
        animation: monkey-run 2s forwards;
        animation-delay: 1.5s;
    }

    #monkey.jump { /*character jumping when menu buttons rolled over*/
        animation: jump 1s linear forwards;
    }

#lion {
    margin-top: 30%;
    margin-left: 43%;
}

#lion.lion-play {
    animation: lion 3s forwards;
}

#lion.jump { /*character jumping when menu buttons rolled over*/
    animation: jump 1s linear forwards;
}

#giraffe {
    margin-top: 26%;
    margin-left: 58%;
}

#giraffe.giraffe-play {
    animation: giraffe 6s forwards;
}

#giraffe.giraffe-run {
    animation: giraffe-run 2s forwards;
    animation-delay: 1s;
}

    #giraffe.jump { /*character jumping when menu buttons rolled over*/
        animation: jump 1s linear forwards;
    }

#textcontainer { /*styling for the container that holds just the text and assets such as Siema slideshows*/
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    margin-top: -21%;
    width: 75%;
    background-color: white;
    border-radius: 45px 45px 0px 0px;
    z-index: 1;
    padding: 2% 2% 2% 2%;
    text-align: left;
    line-height: 33px;
    animation: entrance 1s;
}

#groups-buttons { /*styling for the buttons on the groups page (centre the buttons inside the 'textcontainer' div)*/
    position: relative;
    text-align: center;
}

.siema, .siema1, .siema5, .siema6, .siema7, .siema8 { /*Siema slideshows, can add more classes to this if more slideshows are requieed*/
    width: 100%;
}

#siemaimg { /*styling for the image in the Siema slideshow (they're all the same for each slideshow)*/
    width: 100%;
}

#slideshow {
    position: relative;
}

#left-button, #right-button {
    position: absolute;
    background-color: transparent;
    width: 100px;
    height: 100px;
    z-index: 2;
    top: 40%;
}

#left-button {
    left: 0;
}

#right-button {
    left: 0;
    margin-left: 92.4%;
}

#groupicons { /*only applicable for the 'Groups' page*/
    left: 0%;
    margin-left: 5%;
    width: auto;
}

#topofpage { /*only applicable for the 'Groups' page*/
    float: right;
    right: 0;
    padding-right: 2%;
}

/*See Tiles stylesheet for tile styling*/

.bottommenu { /*Visible only on mobile devices and low screen resolutions*/
    visibility: hidden; /*Visible only on media query on mobile devices*/
    text-align: center;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 60%;
    background-color: #aed2a7;
    z-index: 1001;
    bottom: 0;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
}

.hamburger { /*Visible only on mobile devices and low screen resolutions*/
    position: fixed;
    /*height: 28%;*/
    width: 100%;
    padding-top: 30px;
    border-radius: 45px 45px 0px 0px;
    text-align: left;
    bottom: 0;
    background-color: white;
    border-style: solid;
    border-color: #fbc477;
    border-width: 3px;
    z-index: 1;
    visibility: hidden;
}

#footer { /*styling for the footer*/   
    position: relative;
    z-index: 1;
}

#footerimage { /*styling for the image in the footer area*/
    position: relative;
    width: 100%;
    height: auto;
}

#footertext { /*styling for the text in the footer area*/
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
